.cdx-font-color__container {
  position: relative;
}
.cdx-font-color__color-button {
  border: 1px solid #abcdef;
  box-shadow: 0 1px 1px #091215;
  cursor: pointer;
}
.cdx-font-color__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.cdx-font-color__popup {
  position: absolute;
  bottom: -16px;
  left: -16px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 480px;
  max-width: 100vw;
  background: white;
  box-shadow: 0 6px 12px -6px rgba(131,147,173,.46), 5px -12px 34px -13px rgba(97,105,134,.6), 0 26px 52px 3px rgba(147,165,186,.24);
  border-radius: 3px;
  outline: none;
}
.cdx-font-color__popup_hidden {
  display: none;
}
